body {
  background: white;
  color: black;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.error {
  color: red;
}

span.duration {
  margin-left: 1ex;
}

span.keyword {
  font-weight: bold;
}

span.string {
  font-style: italic;
}

form {
  position: fixed;
  -position: absolute;
  top: 1ex;
  right: 1ex;
}

iframe {
  display: none;
}
